# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node / React
node_modules/
dist/
dist-ssr
*.local

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
mysql_data/
mosquitto_data/
mosquitto_log/
